<div class="container">
  <div class="banner">
    <div class="topnav">
      <a href="#contact">Contact</a>
      <a href="#work">Work</a>
      <a href="#about">About</a>
      <a href="#home">Home</a>
    </div>
      <h1>Tom Whitehead</h1>
      <h4>Expert Boat Repairs</h4>
  </div>
</div>
