<div class="container">
  <div class="banner">
    <div class="topnav">
      <a href="#contact">Contact</a>
      <a href="#work">Work</a>
      <a href="#about">About</a>
      <a href="#socials">Socials</a>
      <a href="#home">Home</a>
    </div>
      <h1>Tom Whitehead</h1>
      <p>Expert Boat Repairs</p>
    <div class="white-space">
    </div>
    <div class="about-container">
    </div>
  </div>
</div>
